:root{
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#95a1b8;
    --light:#FFFFFF;
    --pink:#793657;
    --purple:#9A6CFF;
}


* {
    box-sizing: border-box;
    margin:0;
    font-family: 'fira sans',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFFFFF;
}
